<app-admin-header></app-admin-header>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div>
        <h1 class="text-center">Attribute Management</h1>
        <a routerLink="/admin/attribute/create" class="btn btn-primary">Create Attribute</a>
      </div>
      <div>
        <table class="table table-primary">
          <thead>
            <tr>
              <th>STT</th>
              <th>Name Attribute</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attribute of attributes; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ attribute.name }}</td>
              <td>
                <a [routerLink]="'/admin/attribute/update/' + attribute.id" class="btn btn-success">Edit</a>
                <a (click)="deleteAttribute(attribute.id)" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<app-admin-footer></app-admin-footer>
<router-outlet></router-outlet>
