<app-admin-header></app-admin-header>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div>
        <form #brandForm="ngForm" (ngSubmit)="updateBrand()">
          <div>
            <label for="name">Name Brand:</label>
            <input type="text" id="name" name="name" [(ngModel)]="brand.name" required>
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="brand.description" required></textarea>
          </div>
          <button type="submit">Edit Brand</button>
        </form>
      </div>
    </div>
  </section>
</div>
<app-admin-footer></app-admin-footer>
<router-outlet></router-outlet>
