    <!-- <app-admin-header></app-admin-header> -->
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="card-title mb-0">Order History</h5>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0">
                <form>
                    <div class="row g-3">
                        <div class="col-lg-3">
                            <div class="search-box">
                                <input type="text" class="form-control search" placeholder="Search for order ID, customer, order status or something...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date">
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                <option value="">Status</option>
                                <option value="all" selected>All</option>
                                <option value="Pending">Pending</option>
                                <option value="Inprogress">Inprogress</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Pickups">Pickups</option>
                                <option value="Returns">Returns</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="idPayment">
                                <option value="">Select Payment</option>
                                <option value="all" selected>All</option>
                                <option value="Mastercard">Mastercard</option>
                                <option value="Paypal">Paypal</option>
                                <option value="Visa">Visa</option>
                                <option value="COD">COD</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body pt-0">
                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#home1" role="tab" aria-selected="true">
                            <i class="ri-store-2-fill me-1 align-bottom"></i> All Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 Delivered" data-bs-toggle="tab" id="Delivered" href="#delivered" role="tab" aria-selected="false">
                            <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Delivered
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 Pickups" data-bs-toggle="tab" id="Pickups" href="#pickups" role="tab" aria-selected="false">
                            <i class="ri-truck-line me-1 align-bottom"></i> Pickups <span class="badge bg-danger align-middle ms-1">2</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 Returns" data-bs-toggle="tab" id="Returns" href="#returns" role="tab" aria-selected="false">
                            <i class="ri-arrow-left-right-fill me-1 align-bottom"></i> Returns
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 Cancelled" data-bs-toggle="tab" id="Cancelled" href="#cancelled" role="tab" aria-selected="false">
                            <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled
                        </a>
                    </li>
                </ul>

                <div class="table-responsive table-card mb-1">
                    <table class="table table-nowrap align-middle" id="orderTable">
                        <thead class="text-muted table-light">
                            <tr class="text-uppercase">
                                <th scope="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                    </div>
                                </th>
                                <th class="sort" data-sort="id">Order ID</th>
                                <th class="sort" data-sort="customer_name">Customer</th>
                                <th class="sort" data-sort="product_name">Product</th>
                                <th class="sort" data-sort="date">Order Date</th>
                                <th class="sort" data-sort="amount">Amount</th>
                                <th class="sort" data-sort="payment">Payment Method</th>
                                <th class="sort" data-sort="status">Delivery Status</th>
                                <th class="sort" data-sort="city">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                    </div>
                                </th>
                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2101</a></td>
                                <td class="customer_name">Frank Hook</td>
                                <td class="product_name">Puma Tshirt</td>
                                <td class="date">20 Dec, 2021, <small class="text-muted">02:21 AM</small></td>
                                <td class="amount">$654</td>
                                <td class="payment">Mastercard</td>
                                <td class="status"><span class="badge bg-warning-subtle text-warning text-uppercase">Pending</span></td>
                                
                                <td>
                                    <ul class="list-inline hstack gap-2 mb-0">
                                        <li class="list-inline-item">
                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem">
                                                <i class="fas fa-eye fs-16"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa">
                                                <i class="fas fa-pencil-alt fs-16"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa">
                                                <i class="fas fa-trash-alt fs-16"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                
                            </tr>
                            <!-- More rows here -->
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Your modal body content here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
<router-outlet></router-outlet>