<app-admin-header></app-admin-header>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div>
        <h1 class="text-center">Brand Management</h1>
        <a routerLink="/admin/brand/create" class="btn btn-primary">Create Brand</a>
      </div>
      <div>
        <table class="table table-primary">
          <thead>
            <tr>
              <th>STT</th>
              <th>Name Brand</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brand of brands; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ brand.name }}</td>
              <td>{{ brand.description }}</td>
              <td>
                <a [routerLink]="'/admin/brand/update/' + brand.id" class="btn btn-success">Edit</a>
                <a (click)="deleteBrand(brand.id)" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<app-admin-footer></app-admin-footer>
<router-outlet></router-outlet>
